body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(0, 108, 125);
  margin-bottom: 25px;
}

h2 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 1px;
}

.content table {
  align-self: center;
  background-color: rgb(255, 255, 255);
  padding: 20px;
}

select[name=status] {
  background-color: #ffffff;
  padding: 5px 3px;
  box-sizing: border-box;
  cursor: pointer;
}

.go {
  background-image: linear-gradient(-180deg, #03939a 0%, #0a76a4 100%);
  border-radius: .5rem;
  padding: 5px 8px;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
}

.go:hover {
  background-image: linear-gradient(-180deg, #1D95C9 0%, #004f71 100%);
}


table {
  table-layout: fixed;
  width: 90%;
  border-collapse: collapse;
  margin: 0 auto;
  margin-bottom: 20px;
}

th,
td {
  border: 1px solid black;
  padding: 5px;
  text-align: center;
}

td {
  max-width: 150px;
  max-height: 75px;
  word-wrap: break-word
}

th {
  background-color: #0097a8;
  color: #000000;
}


th:nth-child(1) {
  width: 4%;
}

th:nth-child(2) {
  width: 9%;
}

th:nth-child(3) {
  width: 15%;
}

th:nth-child(4) {
  width: 8%;
}

th:nth-child(5) {
  width: 7%;
}

th:nth-child(6) {
  width: 8%;
}


.container {
  padding: 16px;
  background-color: rgb(142, 238, 251);
  width: 900px;
  height: auto;
  margin: auto;
  margin-top: 30px;
  border-radius: 10px;
}


.button-add {
  background-image: linear-gradient(-180deg, #03939a 0%, #0a76a4 100%);
  border-radius: .5rem;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  margin-left: auto;
  margin-right: 5%;
  margin-bottom: 15px;
  margin-top: 0px;
  font-size: 15px;
  justify-content: center;
  padding: 10px;
  width: 10%;
  border: none;
  cursor: pointer;

}

.button-add:hover {
  background-image: linear-gradient(-180deg, #1D95C9 0%, #004f71 100%);
}

.button-del {
  background-image: linear-gradient(-180deg, #03939a 0%, #0a76a4 100%);
  border-radius: .5rem;
  box-sizing: border-box;
  color: #FFFFFF;
  margin: center;
  font-size: 15px;
  justify-content: center;
  padding: 10px;
  border: 0;
  cursor: pointer;

}

.button-del:hover {
  background-image: linear-gradient(-180deg, #1D95C9 0%, #004f71 100%);
}



.stat {
  float: left;
  margin-left: 50px;
  margin-top: 5px;
  font-size: 17px;
  font-weight: 500;

}

.stat option {
  justify-content: center;
  text-align: center;
}


a.button-del {

  text-decoration: none;
}

.left {
  float: left;
  margin-left: 3px;
}

.right a {
  float: right;
  padding: 9px;
  margin-right: 3px;
}